body {
    background: #E0E0E0;
}

footer {
    text-align: center;
}

.bs-callout {
    padding: 10px 15px;
    border-width: 0 0 0 5px;
    border-color: #fff;
    border-style: solid;
    background: white;
    border-radius: 5px;
    text-align: left;
}
.bs-callout-info {
    border-color: #3F51B5;
}
.bs-callout-caption {
    border-color: #7f8c8d;
    text-align: center;
}

.page {
    padding-top: 50px;
}

.col-sm-12 .teaser {
    margin-bottom: 10px;
}

hr {
    border-top-color: #69191C;
}

.teaser {
    height: 300px;
    background: white;
    transition: 200ms ease;
}
.teaser:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.image-container {
    text-align: center;
}
.image-container img {
    max-width: 100%;
}

.teaser .image-container {
text-align: center;
    max-width: 100%;
    background: #BDBDBD;
}
.teaser .image-container img {
    max-height: 200px;
}
.teaser .info {
    padding: 10px;
    border-top: 5px solid #e6e6e6;
}
.teaser.post .info {
    border-top-color: #33691E;
}
a.post {
    color: #33691E;
    text-decoration: underline;
}

.teaser.category {
    background: transparent;
    position: relative;
    overflow: hidden;
    line-height: 300px;
    vertical-align: middle;
}
.teaser.category .image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}
.teaser.category .image-container .film {
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.teaser.category.banner .image-container img {
    margin-left: 0;
}
.teaser.category .title {
    z-index: 100;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    transition: 200ms ease;
}
.teaser.category .title:hover {
    font-size: 35px;
}

a.gallery {
    color: #69191C;
    text-decoration: underline;
}
.teaser.gallery .info {
    border-top-color: #69191C;
}
.gallery .image-container .caption {
    margin-top: 15px;
    margin-bottom: 50px;
}
.gallery .content img {
    margin: 0 auto;
}
.body {
    font-size: 22px;
    padding: 10px 55px;
}
.banner {
    position: absolute;
    z-index: -1;
}
.banner + .content {
    background: #ecf0f1;
    z-index: 2;
    margin-top: 300px;
}
.banner + .content .title {
    text-transform: capitalize;
    margin-bottom: 40px;
    font-size: 22px;
    color: #c0392b;
}
